@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

h1 {
  	border-bottom: 10px solid #5d6063;
  	color: #5d6063;
  	font-family: 'Lexend Deca', sans-serif;
  	font-weight: 200;
}

h2 {
	color: #5d6063;
	padding: 50px 50px 10px 50px;
	text-align: left;
}

a {
	color: pink;
}

a:visited {
	color: #d3d3d3;
}

p {
	color: #a9a9a9;
}

ul li {
	color: #5d6063;
	list-style-type: none;
	text-align: left;
}



